[Unit]
Description=sMirror Master Service

[Service]
WorkingDirectory=/home/pi/sMirror/
ExecStart=/home/pi/sMirror/master.py

[Install]
WantedBy=multi-user.target
