.line {
    fill: none;
    stroke: white;
    stroke-width: 2px;
}

.domain{
    stroke: white;
}

.tick > line{
    stroke: white;
}

.tick > text{
    fill: white
}

.c-stock__symbol,
.c-stock__value,
.c-stock__currency{
    display: inline-block;
    font-size: 36px;
}

.c-stock__symbol{
    text-transform: uppercase;
}

.c-stocks-display{
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;

}
